/* Selector Universal */
* {
    padding: 0;
    margin: 0;
}



/* Selector ID */
#contenedor{
    width: 1200px;
    height: 1000px;
    background-color:  #597bb9;
}
#pie{
    width: 1200px;
    height: 50px;
    background-color: #0c0c27;
    text-align: center;
}

#encabezado{
    position: relative;
    height: 200px;
    background-color: #597bb9;
}
#titulo{
    position: absolute;
    width: 30%;
    background-color: #25255f;
    text-align: right;
    padding-right: 15px;
    margin-top: 1em;
    border-radius: 0em 4em 4em 0em;
    border: 2px solid #597bb9;
    border-left: 0px solid;
}
#introduccion{
    position: absolute;
    height: 5em;
    width: 75%;
    background-color: #191a36;
    border-radius: 0em 5em 5em 0em;
    margin-top: 1.9em;
    padding: 2em;
    font-size: large;
}

#menu{
    width: 60%;
    background-color:#12121a;
    margin: 1em auto;
    margin-top: 3em;
    border-radius: 3em;
    padding: 10px;
}

#contenido{
    height: 60%;
    padding: 0 1em 0 1em;
}
#articulos{
    float: left;
    width: 69%;
    height: 100%;
}
#articulo1{
    top: 0;
}
#articulo2{
    top: 19em;
}
#fueraSeccion{
    float: right;
    width: 25%;
    height: 100%;
    background-color: #12121a;
    text-align: center;
    padding: 1em;
}



/* Selector de Clase */
.texto{
    color:#f6eaed;
    font-family: Tahoma;
}
.vinculosMenu{
    padding: 0.3em 0.8em 0.3em 0.8em;
    text-decoration: none;
    background-color: #1f1f2e;
    border-radius: 1em;
}
.articulo{
    position: relative;
    background-color: #1f1f2e;
    width: 100%;
    height: auto;
    text-align: center;
}
.encabezado_articulo{
    position: absolute;
    background-color: #12121a;
    width: 60%;
    margin: 0.5em 20%;
}
.cuerpo_articulo{
    float: right;
    width: 70%;
    margin: 3em 2em 0 0;
}
.images{
    float: left;
    border: 1px solid rgb(26, 33, 25);
    margin: 0.5em 1em 1em 1.5em;
    border-radius: 4px;
    padding: 5px;
    width: 19%;
    border-radius: 1em;
}
.vinculosFueraSeccion{
    
}


/* Selector de Etiqueta */
ul{
    text-align: center;
}
li{
    display: inline;
    padding-left: 4em;
    padding-right: 4em;
}
article{
    position: absolute;
    height: 15em;
    width: 100%;
    background-color: #2c2e79;
    margin-top: 1.6em;
    border: 4px solid #12121a;
    padding-top: 1em;
}